# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/backups-dup-lite/
/wp-content/abstracts/
/wp-content/latex/**
!/wp-content/latex/export.php
!/wp-content/latex/upload.php
/dup-installer/
/wiki/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
**/.DS_Store
.DS_Store
# Configuration
wp-config.php
.vscode/
# Example themes
/wp-content/themes/twenty*/


# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/


/wp-content/db.php


# Log files
*.log

# htaccess
/.htaccess

#wp-content/plugins/**
#wp-content/plugins/open-readings/
# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line

/wp-content/plugins/*
/wp-content/plugins/
wp-content/plugins/*
!/wp-content/plugins/open-readings/
!/wp-content/plugins/open-readings/**
!/wp-content/plugins/open-readings/*
!/wp-content/plugins/open-readings/evaluation/
!/wp-content/plugins/open-readings/assets/
#ignore composer:
/wp-content/plugins/open-readings/vendor/
/wp-content/plugins/open-readings/composer.phar




# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
/wp-content/themes/*
20230927_openreadings2024_603d5937a826f9d21987_20230927161505_installer-backup.php
local-xdebuginfo.php

wp-content1/*
wp-content/plugin/*

/wp-content/ql-cache/**